name: Deploy Backend (PROD)

on:
  push:
    branches:
      - prodAWS

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Serverless
        run: npm install -g serverless

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy PROD
        env:
          COGNITO_USER_POOL_ID: ${{ secrets.PROD_COGNITO_USER_POOL_ID }}
          COGNITO_CLIENT_ID: ${{ secrets.PROD_COGNITO_CLIENT_ID }}
          DYNAMODB_TABLE_NAME: ${{ secrets.PROD_DYNAMODB_TABLE_NAME }}
        run: serverless deploy --stage prodAWS
